<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JSanchezControlEscolarWCFEntities" connectionString="metadata=res://*/JSanchezControlEscolarWCF.csdl|res://*/JSanchezControlEscolarWCF.ssdl|res://*/JSanchezControlEscolarWCF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=JSanchezControlEscolarWCF;persist security info=True;user id=sa;password=pass@word1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>